export(build_ce_lookup)
export(get_lookup)
export(final_analysis)
export(gen_stage1_and_T1)
export(gen_stage2_new)
export(lcl_final)
export(lcl_interim)
export(plot_ce_mapping)
export(plot_decision_geometry)
export(plot_diagnostic_panel)
export(popshiftce_defaults)
export(print.ce_lookup)
export(simulate_h0_pairs)
export(simulate_trial_ce)
export(simulate_trials_ce)
S3method(print,ce_lookup)
importFrom(MASS,mvrnorm)
importFrom(sandwich,vcovHC)
importFrom(stats,approxfun)
importFrom(stats,coef)
importFrom(stats,isoreg)
importFrom(stats,lm)
importFrom(stats,qnorm)
importFrom(stats,quantile)
importFrom(stats,rbinom)
importFrom(stats,rexp)
importFrom(stats,residuals)
importFrom(stats,rnorm)
importFrom(stats,rt)
importFrom(stats,uniroot)
importFrom(stats,var)
